@CHARSET "UTF-8";

.blog-author {
	background: url('../images/author.png') no-repeat scroll 0 0;
}

.blog-opened {
	background: url('../images/open.png') no-repeat scroll 0 0;
}

body {
	padding: 50px;
	font-family: 微软雅黑;
}

.wrap {
	box-shadow: 5px 5px 20px green;
	border-radius: 4px;
	border: 1px solid transparent;
	margin-top: 20px;
	width: 70%;
	background: #f0f0f0;
	resize: both;
	overflow: auto;
}